@font-face {
  font-family: 'chess';
  src:  url('fonts/chess.eot?lgzsjg');
  src:  url('fonts/chess.eot?lgzsjg#iefix') format('embedded-opentype'),
    url('fonts/chess.ttf?lgzsjg') format('truetype'),
    url('fonts/chess.woff?lgzsjg') format('woff'),
    url('fonts/chess.svg?lgzsjg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'chess' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chess3:before {
  content: "\2658";
}
.icon-chess2:before {
  content: "\2658";
}
.icon-chess1:before {
  content: "\2658";
}
