{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block content %}
    <div class="container">
    <div class="row">
    <div class="col-12">
        <h1>Clubs</h1>
        <table class="table">
            {% for club in clubs %}
                <tr>
                    <td>{{ club.name }}</td>
                    {% for owner in owners %}
                        {% if owner.club_id == club.id%}
                            <td>Owner email: {{ owner.user }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}