{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block content %}
    <div class="container">
    <div class="row">
    <div class="col-9">
        <h1>Clubs</h1>
        <table class="table">
            {% for club, owner in owners %}
                <tr>
                    <td>{{ club.name }}</td>
                    {% if owner != "" %}
                      <td>Owner: {{ owner }}</td>
                    {% else %}
                      <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
