{% extends "base_content.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-6 col-xl-7">
                {% if clubs_user_in %}
                    <h2>My Clubs</h2>
                    <br>
                {% endif %}
                <table class="table">
                    {% for club, role in clubs_user_in %}
                        <tr>
                            <td><a href="{% url 'show_club' club.id %}">{{ club.name }}</a></td>
                            <td>{{ club.members_count }} Members</td>
                            <td>{{ role }}</td>
                            <td style="text-align:right">
                                <form action="{% url 'leave_club' club_id=club.id %}" method="get">
                                    {% if role == "Owner" %}
                                        <button class="btn btn-secondary" disabled>Withdraw</button>
                                    {% else %}
                                        <button class="btn btn-primary">Withdraw</button>
                                    {% endif %}
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-xs-12 col-lg-6 col-xl-5">
                {% if clubs_user_not_in %}
                    <h2>Other Clubs</h2>
                    <br>
                {% endif %}
                <table class="table">
                    {% for club in clubs_user_not_in %}
                        <tr>
                            <td><a href="{% url 'show_club' club.id %}">{{ club.name }}</a></td>
                            <td>{{ club.members_count }} Members</td>
                            <td style="text-align:right">
                                <form action="{% url 'apply' club_id=club.id %}" method="get">
                                    <button class="btn btn-primary">Apply</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
