{% extends "base_content.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Promote members</h1>
                <table class="table">
                    {% for member in members %}
                        <tr>
                        {% include 'partials/user_row.html' with user=member %}
                            <td>
                                <form action="{% url 'promote_member' user_id=member.id %}" method="get">
                                    <button class="btn btn-primary">Promote</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}