{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block content %}
    <div class="container">
    {% if user.current_club_not_none and user.current_club_role == 2 %}
    <div class="row">
      <div class="col-12">
        <a href="{% url 'create_tournament' %}" class="btn btn-primary">New tournament</a>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-12">
        {% if created %}
          <h1>My tournaments:</h1>
        {% endif %}
          <table class="table">
              {% for created_tournament in created %}
                  <tr>
                      <td>
                        <a>{{created_tournament.name}}</a>
                      </td>
                      <td>
                            <a class="btn btn-primary" href="{% url 'manage_tournament' tournament_id=created_tournament.id %}">Manage</a>
                      </td>
                  </tr>
              {% endfor %}
          </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% if entered %}
          <h1>Entered tournaments:</h1>
        {% endif %}
          <table class="table">
              {% for entered_tournament in entered %}
                  <tr>
                      <td>
                        <a>{{entered_tournament.name}}</a>
                      </td>
                      <td>
                        <form action="{% url 'leave_tournament' tournament_id=entered_tournament.id %}" method="get">
                            <button class="btn btn-primary">Withdraw</button>
                        </form>
                      </td>
                  </tr>
              {% endfor %}
          </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% if not_entered %}
          <h1>Other tournaments:</h1>
        {% endif %}
          <table class="table">
              {% for tournament in not_entered %}
                  <tr>
                      <td>
                        <a>{{tournament.name}}</a>
                      </td>
                      <td>
                        <form action="{% url 'join_tournament' tournament_id=tournament.id %}" method="get">
                            <button class="btn btn-primary">Enter</button>
                        </form>
                      </td>
                  </tr>
              {% endfor %}
          </table>
      </div>
    </div>
    </div>
{% endblock %}
