{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Users</h2>
                <br>
                <table class="table">
                    {% for user in users %}
                        <tr>
                            <td>
                                <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.email }}"
                                     class="rounded-circle">
                            </td>
                            <td><a href="{% url 'show_user' user.id %}">{{ user.full_name }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
                <br>
                {% bootstrap_paginate page_obj range=6 previous_label="Previous" next_label="Next" show_first_last="true" %}
            </div>
        </div>
    </div>
{% endblock %}
