<div class="container">
    <div class="row">
        <div class="profile-text">

            <h3 class="profile-title">{{ club.name }}</h3>
            <p class="profile-email">{{ club.members_count }} Members</p>
            <p class="profile-email">Location: {{ club.location }}</p>
            <p class="profile-bio">{{ club.mission_statement }}</p>
        </div>
        {#        <div class="col-xs-12 col-lg-6 col-xl-6">#}
        {#            <img src="{{ user.gravatar }}" alt="Gravatar of {{ user.email }}" class="rounded-circle profile-image">#}
        {#            <p class="profile-email">Owned by:#}
        {#                {% if club.owner %}#}
        {#                    <a>{{ club.owner.full_name }}</a>#}
        {#                {% else %}#}
        {#                    N/A#}
        {#                {% endif %}#}
        {#            </p>#}
        {#            <p class="profile-bio">Owner Bio: {{ club.owner.bio }}</p>#}
        {#            <br>#}
        {#        </div>#}
    </div>
</div>