<div class="row content">
    <div class="col-12">
        <div class="profile-text">
            <h3 class="profile-title">{{ club.name }}</h3>
            <br>
            <p class="profile-email">Location: {{ club.location }}</p>
            <p class="profile-email">Owned by:
                {% if club.owner %}
                    <a href="{% url 'show_user' user.id %}">{{ club.owner.full_name }}</a>
                {% else %}
                    N/A
                {% endif %}
            </p>
            <br>
            <p class="profile-bio">{{ club.mission_statement }}</p>
        </div>
    </div>
</div>
