<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.current_club_not_none and user.current_club_role %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_list' %}">Users</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'my_clubs' %}">My Clubs</a>
        </li>
        {% include 'partials/officer_menu_items.html' %}
        {% include 'partials/owner_menu_items.html' %}
    </ul>

    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% include 'partials/select_club_dropdown.html' %}
        {% include 'partials/user_account_dropdown.html' %}
    </ul>
</div>
