<div class="row content">
    <div class="col-12">
        <img src="{{ user.gravatar }}" alt="Gravatar of {{ user.email }}" class="rounded-circle profile-image">
        <div class="profile-text">
            <h3 class="profile-title">{{ user.full_name }}</h3>
            {% if not is_staff %}
                <br>
                <p class="profile-bio">{{ user.bio }}</p>
            {% else %}
                <p class="profile-email">{{ user.email }}</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="row content">
    <div class="col-12">
        {% if is_staff %}
            {% if user.bio %}
                <h6>Bio</h6>
                <p class="profile-bio">{{ user.bio }}</p>
                <br>
            {% endif %}
            {% if user.experience_level %}
                <h6>Experience Level</h6>
                <p class="profile-experience_level">{{ user.experience_level }}</p>
                <br>
            {% endif %}
            {% if user.personal_statement %}
                <h6>Personal Statement</h6>
                <p class="profile-personal-statement">{{ user.personal_statement }}</p>
            {% endif %}
        {% endif %}
    </div>
</div>
