<li class="nav-item dropdown">
    <a class="nav-link" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        <span class="bi-person-circle"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
        <li><a class="dropdown-item" href="{% url 'profile' %}">Change Profile</a></li>
        <li><a class="dropdown-item" href="{% url 'password' %}">Change Password</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{% url 'log_out' %}">Log Out</a></li>
    </ul>
</li>